body{
    height: 250vh;
}

::-webkit-scrollbar {
    width: 12px;
  }
  
::-webkit-scrollbar-track {
    background: #ffffff;
}
  
::-webkit-scrollbar-thumb {
    background: #d4d4d4;
}
  
::-webkit-scrollbar-thumb:hover {
    background: #000000;
}
#header{
    position: fixed;
    top: 30px;
    width: 100%;
    left: 30px;
    justify-content: space-between;
    z-index: 500;
}
 
.nav-list{
    display: flex;
    column-gap: 25px;   
    justify-content: center;
}
.logo{
    width: 125px;
    cursor: pointer;
    position: absolute;
}
.nav-link{
    font-family: "Inter", sans-serif;
    color: #000;
    font-weight: 500;
    font-size: 18px;
    line-height: 100%;
}
.nav-link:hover{
    text-decoration: underline;
    text-decoration-color: #808080;
    text-decoration-style:dotted;
    text-decoration-thickness: 3px;
}
.action-btn{
    left: 92%;
    margin-top: -30px;
    position: absolute;
    width: 100px;
    height: 48px;
    border-radius: 32px;
    background-color: #000;
    cursor: pointer;
    color: #fff;
    font-family: "Inter", sans-serif;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    transition: 0.2s;
    border:  0.2px solid black;
}
.action-btn:hover{
    transform: scale(1.1);
    color: #000;
    background-color: #fff;
}
.action-btn:active{
    background-color: #000;
    color: #fff;
}
.action-main-btn{
    border:0.2px solid black;
    position: absolute;
    width: 100px;
    height: 48px;
    border-radius: 32px;
    background-color: #000;
    cursor: pointer;
    color: #fff;
    font-family: "Inter", sans-serif;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    transition: 0.2s;
}
.action-main-btn:hover{
    transform: scale(1.1);
    color: #000;
    background-color: #fff;
}
.action-main-btn:active{
    background-color: #000;
    color: #fff;
}
.top-main-title{
    font-weight: 900;
    font-family: "Inter", sans-serif;
    font-size: 56px;
    line-height: 60px;
}
.s1{
    position: absolute;
    top: 22vh;
}
.text-info-div{
    margin-top: 20px;
}
.main-image{
    width: 555px;
}
.sofa-photo{
    width: 100%;
    height: 500px;
    position: absolute;
    left:  120vh;
    z-index: -50;
}
.infos-div{
    position: absolute;
    transform: scale(1.1);
    left: 30vh;
    white-space: nowrap;
    top: 8vh;
}
.product-texts{
    font-family: "Inter", sans-serif;
    font-weight: 500;
    font-size: 14px;
    line-height: 24px;
}
.btn-action-texts{
    display: flex;
    column-gap: 115px;
    top: 250px;
    position: absolute;
}
 
.text-info{
    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
}
 
.features-background{
    background-color:#F3F3F3;
    width: 100%;
    height: 30vh;
    position: absolute;
    top: 90vh;
    padding: 25px;
}
 
.features-div{
    display: flex;
    justify-content: space-around;
    column-gap: 150px;
    margin-top: 30px;
}
.black-dot{
    background-color: black;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    position: relative;
}
.feature-text-div{
    width: 450px;
    margin-top: 10px;
}
.feature-text{
    font-family: "Inter", sans-serif;
    font-size: 24px;
}
.feature-span{
    font-size: 20px;
    font-weight: 900;
    font-family: "Inter", sans-serif;
    white-space: nowrap;
    position: absolute;
    top: 10px;
    left: 50px;
}
.black-background{
    width: 100%;
    height: 700px;
    background-color: #000;
    top: 120vh;
    position: relative;
    overflow: hidden;
}
.black-background-top-text{
    font-family: "Inter", sans-serif;
    font-weight: 900;
    font-size: 24px;
    line-height: 32px;
    color: #fff;
    width: 500px;
}
.black-background-items{
    display: flex;
    left: 10%;
    top: 15%;
    position: relative;
    column-gap: 250px;
}
.black-background-texts{
    transform: scale(1.2);
    margin-top: 5%;
}
.items-photo{
    width: 600px;
    height: 500px;
}
.dest-down-top{
    font-weight: 400;
    font-family: "Inter", sans-serif;
    font-size: 16px;
    line-height: 24px;
    color: #ccc;
    width: 500px;
    margin-top: 10px;
}
.block-texts{
    color: #ccc;
    font-weight: 400;
    font-family: "Inter", sans-serif;
    list-style: 24px;
    vertical-align: middle;
    font-size: 16px;
    letter-spacing: 0.1px;
    margin-top: 20px;
}
.block-texts-div{
    margin-top: 20px;
}
.background-photo-div{
    position: relative;
    top: 120vh;
    width: 100%;
}
.background{
    width: 100%;
    object-fit: cover;
    z-index: -500;
    height: 600px;
    background-position: center;
}
.background-texts{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
}
.tagline{
    font-family: "Inter", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.1px;
    color: #fff; 
}
.background-h2-text{
    color: #fff;
    font-size: 40px;
    font-family: "Inter", sans-serif;
    font-weight: 900;
    line-height: 48px;
    width: 550px;
}
.white-action-btn{
    width: 100px;
    height: 48px;
    border-radius: 32px;
    background-color: #ffffff;
    cursor: pointer;
    color: #000000;
    font-family: "Inter", sans-serif;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    transition: 0.2s;
    border:  0.2px solid rgb(255, 255, 255); 
}
 
.white-action-btn:hover{
    background-color: #000;
    color: #fff;
    border: 0.2px solid #000;
    transform: scale(1.1);
}